
<div class="container">

    <div class="row">
       
    
                   
         <div class="row" style="padding-top:10px">
                           
                
               
              
                 <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-6" style="text-align: left; font-weight: bold">
                                    {{ map_title }}
                                </div>
                                <div class="col-md-6" style="text-align: right">
                                        <button class="btn" (click)="onReload()">Reset Map</button>
                                </div>
                               
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-md-12">
                                    <agm-map [mapTypeId]="'satellite'" gestureHandling="greedy" [scrollwheel]="false" [zoom]="zoom" [latitude]="lati" [longitude]="longi"
                                        (mapReady)="changeTilt($event)">
                                        <agm-marker *ngFor="let marker of latlong; let pos = index" iconUrl="{{ marker.url }}" (markerClick)="onMarkerClickLocation(pos, infoRef)"
                                            [latitude]="marker.latitude" [longitude]="marker.longitude">
                                            <agm-info-window #infoRef>
                                                <strong>ROI : {{ marker.roi_percentage? marker.roi_percentage : '0' }} %</strong>
                                            </agm-info-window>
                                        </agm-marker>
                                    </agm-map>
                                </div>
                            </div>

                            <br>

                           

                        <!--
                            <div class="row">
                                <div class="col-xs-2" style="text-align:center">
                                    <img src="assets/marker/plain/blue.png" height="25px" width="25px">
                                </div>
                                <div class="col-xs-2" style="text-align:center">
                                    <img src="assets/marker/plain/marron.png" height="25px" width="25px">
                                </div>
                                <div class="col-xs-2" style="text-align:center">
                                    <img src="assets/marker/plain/red.png" height="25px" width="25px">
                                </div>
                                <div class="col-xs-2" style="text-align:center">
                                    <img src="assets/marker/plain/orange.png" height="25px" width="25px">
                                </div>
                                <div class="col-xs-2" style="text-align:center">
                                    <img src="assets/marker/plain/yellow.png" height="25px" width="25px">
                                </div>
                                <div class="col-xs-2" style="text-align:center">
                                    <img src="assets/marker/plain/green.png" height="25px" width="25px">
                                </div>
                            </div>
                              
                            <div class="row">
                                <div class="col-xs-2" style="text-align:center; background-color: #30AAF4; height: 15px"></div>
                                <div class="col-xs-2" style="text-align:center; background-color: #7740A7; height: 15px"></div>
                                <div class="col-xs-2" style="text-align:center; background-color: #F13D38; height: 15px"></div>
                                <div class="col-xs-2" style="text-align:center; background-color: #ED882D; height: 15px"></div>
                                <div class="col-xs-2" style="text-align:center; background-color: #F7EE2B; height: 15px"></div>
                                <div class="col-xs-2" style="text-align:center; background-color: #499130; height: 15px"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2" style="text-align:center; font-size: 11px">0% to 100%</div>
                                <div class="col-xs-2" style="text-align:center; font-size: 11px">101% to 200%</div>
                                <div class="col-xs-2" style="text-align:center; font-size: 11px">201% to 300%</div>
                                <div class="col-xs-2" style="text-align:center; font-size: 11px">301% to 400%</div>
                                <div class="col-xs-2" style="text-align:center; font-size: 11px">401% to 500%</div>
                                <div class="col-xs-2" style="text-align:center; font-size: 11px">501%+</div>
                            </div>
                        -->       
                            <br>
                            <div class="row">
                                <div class="col-xs-6" style="text-align:center;">
                                    <img src="assets/pointer.png" height="20px" width="22px"> Current Selected
                                </div>
                                <div class="col-xs-6" style="text-align:center;">
                                    <img src="assets/border.png" height="20px" width="25px"> Previous Selected
                                </div>
                            </div>
                            <br>
               </div>
               
               <div class="col-md-6" style="margin-top:55px; padding-bottom:20px; border: black 1px bold">
                
                     <div class="row">
                             <div class="col-md-9" style="font-size:14px;font-weight: bold; margin-top:10px;">
                                 <img src="assets/pointer.png" height="19px" width="20px" style="margin-left:-2px; margin-top:-8px"> SELECT A WELL FROM THE MAP TO VIEW INDIVIDUAL WELL DATA DIRECT FROM DRILLINGINFO.COM
                             </div>

                             <div class="col-md-3" style="margin-top:10px;">
                                 <img src="assets/drilling.jpg" class="img-responsive" />
                             </div>
                         </div>

                         <div class="row" style="padding-left: 15px; padding-top:15px">
                             <div class="row">
                                 <div class="col-md-6">
                                     <div class="row">
                                         <div class="col-md-12">API/UWI
                                             <b>:</b> {{ api_uwi }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Well/Lease Name
                                             <b>:</b> {{ lease_name }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Operator
                                             <b>:</b> {{ operator_name }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Status
                                             <b>:</b> {{ production_status }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">County
                                             <b>:</b> {{ county }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">State
                                             <b>:</b> {{ state }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Drill Type
                                             <b>:</b> {{ drill_type }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Measured Depth(TD)
                                             <b>:</b> {{ measured_depth ? (measured_depth | number) : (measured_depth)
                                             }}
                                         </div>
                                     </div>

                                 </div>

                                 <div class="col-md-6">

                                     <div class="row" style="min-height:47px;">
                                     </div>

                                     <div class="row">
                                         <div class="col-md-12">Cumulative Oil
                                             <b>:</b> {{ cum_oil ? (cum_oil | number) : (cum_oil) }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Cumulative Gas
                                             <b>:</b> {{ cum_gas ? (cum_gas | number) : (cum_gas) }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">First Production
                                             <b>:</b> {{ first_prod_date }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Last Production
                                             <b>:</b> {{ last_prod_date }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Reservoir
                                             <b>:</b> {{ reservior }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Longitude
                                             <b>:</b> {{ long }}</div>
                                     </div>

                                     <br>

                                     <div class="row">
                                         <div class="col-md-12">Latitude
                                             <b>:</b> {{ lat }}</div>
                                     </div>
                                 </div>
                        </div>
                 </div>


</div>

               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
               
         </div>
    </div>
</div>

     


<!--
<app-hope-thetical-calculator></app-hope-thetical-calculator>

<app-tax-effect-tool></app-tax-effect-tool>
-->
<!--
<app-legal-doc-accordian></app-legal-doc-accordian>

<app-footer></app-footer>
-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>